<!--
    file: views/home/About.cshtml
    Displays basic information about the site and its creators.
    author: Alex Nicholls
    student number: 200287546
    date: August 18, 2016
    history:
        added controllers and navigation
        added comments
-->

@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
